<html>
	<head>
		<link type="text/css" rel="stylesheet" href="/stylesheets/main.css">
	</head>
  <body>
	<div id="logout">
      <form action="{{ .Lo_url }}" method="get">
        <input type="submit" value="Ausloggen">
      </form>
	</div> 
    <div id="welcome">
		<h1>Hallo {{ .User }}</h1>
	</div>
	
	<div style="width:100%; height:100px">
	{{ if .Uurl }}
	<h2>Die URL für deine Fragen ist: {{ .Uurl }}</h2><br>
	</div>
	<div id="questions">
	    <table>
			<theader>
		    <tr>
				<th></th>
		    </tr>
			</theader>
			<tbody>
		    {{range .Questions}}
			<tr>  
				<td><span>{{ .Date }} </span></td>  
				<td><span>{{ .Question }}</span></td>
				<td><form action="/backend/analyze" method="post">
		          <input type="hidden" name="key" value="{{ .Key }}">
		          <input class="q" type="submit" value="Ergebnisse">
		        </form></td>
				<td><form action="/backend/delq" method="post">
		          <input type="hidden" name="key" value="{{ .Key }}">
		          <input class="q" type="submit" value="Löschen">
		        </form></td>
				<td><form action="/backend/active" method="post">
		          <input type="hidden" name="key" value="{{ .Key }}">
		          <input class="q" type="submit" value="Aktivieren">
		        </form></td>
			  </div>
			<tr>
			{{else}} <div id="nothinghere"><strong>Du hast noch keine Fragen angelegt.</strong></div>
			{{end}}
			</tbody>
		</table>
	<br>
	<div id="addquestion">
      <form action="/backend/addq" method="post">
	    <div><input type="hidden" name="count" value="2">
        <input class="q" type="submit" value="neue Frage"></div>
      </form>
	</div>
	{{ else }}
	<h2>Du hast noch keine URL für Fragen. Bitte verwende nur Buchstaben und keine Umlaute.</h2>
		<div>
      		<form action="/backend/save_new_url" method="post">
	    		<div>
				<input type="text" name="url" value="">
        			<input type="submit" value="Neue Url für Fragen anlegen">
			</div>
      		</form>
		</div>
	{{ end }}
	
  </body>
</html>