<html>
	<head>
		<link type="text/css" rel="stylesheet" href="/stylesheets/main.css">
	</head>
  <body>
	<div style="width:100%; height:50px">
      <form action="{{ .Lo_url }}" method="get">
        <input type="submit" value="Ausloggen">
      </form>
	</div> 
    <div style="width:100%; height:100px">
		<h1>Hallo {{ .User }}</h1>
	</div>
	
	<div style="width:100%; height:100px">
	{{ if .Uurl }}
	<h2>Die URL für deine Fragen ist: {{ .Uurl }}</h2><br>
	{{ else }}
	<h2>Du hast noch keine URL für Fragen. Bitte verwende nur Buchstaben und keine Umlaute.</h2>
		<div>
      		<form action="/backend/save_new_url" method="post">
	    		<div>
				<input type="text" name="url" value="">
        			<input type="submit" value="Neue Url für Fragen anlegen">
			</div>
      		</form>
		</div>
	{{ end }}
	</div>
	<div div style="width:100%; height:60%">
	    <table>
		    <tr>
				<th></th>
		    </tr>
		    {{range .Questions}}
			<tr>  
				<td><span>{{ .Date }} </span></td>  
				<td><span>{{ .Question }}</span></td>
				<td><form action="/backend/edit" method="post">
		          <input type="hidden" name="key" value="{{ .Key }}">
		          <input style="width: 8em; height: 4em" type="submit" value="Bearbeiten">
		        </form></td>
				<td><form action="/backend/delq" method="post">
		          <input type="hidden" name="key" value="{{ .Key }}">
		          <input style="width: 8em; height: 4em" type="submit" value="Delete">
		        </form></td>
				<td><form action="/backend/active" method="post">
		          <input type="hidden" name="key" value="{{ .Key }}">
		          <input style="width: 8em; height: 4em" type="submit" value="Activate">
		        </form></td>
			  </div>
			<tr>
			{{else}} <div><strong>Du hast noch keine Fragen angelegt.</strong></div>
			{{end}}
		</table>
	<br>
	<div>
      <form action="/backend/addq" method="post">
	    <div><input type="hidden" name="count" value="2">
        <input style="width: 100%; height: 4em" type="submit" value="Neue Frage anlegen"></div>
      </form>
	</div>
  </body>
</html>