form {
	width: 80%;
}

h1 {
	font-family: sans-serif;
	font-weight: bold;
	font-size: 150%;
	width: 90%;
	margin-left: 7%;
	float: left;
}

h2 {
	font-family: sans-serif;
	font-weight: bold;
	font-size: 110%;
	width: 90%;
	margin-left: 7%;
	float: left;
}

span {
	font-family: sans-serif;
	font-size: 110%;
	margin-left: 1em;
}

input,
textarea,
label.input {
	float: left;
	width: 80%;
}

textarea,
input {
	margin: 0 0 1em 1em;
	padding: .2em .2em;
	background-color: #fffbf0;
	border: 1px solid #e7c157;
}

label.input {
	text-align: left;
	line-height: 1.5;
}

label.input::after {
	content: ": ";
}


button {
	float: left;
	width: 50%;
}